<main>
  @if(!finished) {
    <p class="quizzQuestion">{{ questionSelected.question }}</p>
    <div class="quizzOptions">
      @for(option of questionSelected.options; track option.id) {
        <button 
          class="quizzOption" 
          (click)="playerChoice(option.alias)"
          (click)="nextStep()"
          >{{ option.name }}</button>
      }
    </div>
  }

  @if(finished) {
    <div class="quizzResult">
      <p class="resultTitle">O seu resultado é:</p>
      <p class="result">{{ answerSelected }}</p>
    </div>
  }
</main>

